body {
    background-color: #003A58;
}

.header {
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: black;
    display: table;
    text-align: center;
}

.header span {
    font-family: monospace;
    font-size: 30px;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

.content {
    background-color: rgba(255, 255, 255, 0.5);
    width: 80%;
    margin: 15px auto;
    min-width: 600px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    padding: 15px 2.5%;
}

.text {
    float: left;
    width: 70%;
}

img {
    float: right;
    width: 20%;
}